:root{
  --main-bg-color: #FDFDFD;
  --main-border-color: #DADCE2;
  --main-header-bg: #243D57;
  --header-title-color: #FFFFFF;
  --header-sub-title-color: #E0DEDE;
  --title-color: #9DA6B2;
  --logo-color: #DADFE5;
  --side-bar-bg-color: #FDFDFD;
  --side-bar-tab-color: rgba(76, 152, 227, 0.11);
  --side-bar-text-color: #393E47;
  --side-bar-text-hover-color: #393E47;
  --search-btn-text-color: #FFFFFF;
  --search-btn-color: #4C98E3;
  --search-input-color: #393E47;
  --search-input-palceholder-color: #8E9195;
  --widget-title-color: #393E47;
  --widget-title-disable-color: #C3CEDF;
  --widget-sub-title-color: #8E9195;
  --widget-card-box-shadow: 0px 2px 4px rgba(19, 77, 178, 0.25), 0px 2px 20px rgba(19, 77, 178, 0.15);
  --widget-card-bg-color: #E5F3FE;
  --widget-card-small-bg-color: #F1F2F3;
  --widget-card-disable-bg-color: rgba(76, 152, 227, 0.11);
  --widget-card-counter-color: #8E9CAE;
  --widget-card-counter-text-color: #FFFFFF;
  --widget-card-other-counter-color: #AED1EA;
  --widget-card-other-counter-disable-color: #DDE5F2;
  --widget-card-other-counter-small-color: #E6E7EA;
  --page-breadcrumb-link-color: #8E9195;
  --page-breadcrumb-text-color: #393E47;
  --page-back-link: #4C98E3;
  --page-content-link: #4C98E3;
  --page-header-count-color: #C0C1C4;
  --list-card-background: #E5F3FE;
  --list-card-border: #E5F3FE;
  --list-card-focus-background: #E4E6E7;
  --list-card-tag-bg: #AED1EA;
  --list-text-color: #393E47;
  --list-btn-submit-text-color: #FFFFFF;
  --list-text-sub-color: #8E9195;
  --list-comments-bg-color: #FDFDFD;
  --list-red-color: #DB2626;
  --list-green-color: #60B680;
  --list-checkbox-border: #C4C7D4;
  --list-pages-select: #EAF2FA;
  --list-pages-un-select: #FFFFFF;
  --widget-bar-title: #393E47;
  --widget-bar-text: #393E47;
  --widget-bar-widget-bg: #FDFDFD;
  --widget-bar-block-item-bg: #FFFFFF;
  --widget-bar-radio-bg: #ECF2F8;
  --widget-bar-radio-text: #4C98E3;
  --dashboard-cell-bg: #FDFDFD;
  --dashboard-cell-border: #4C98E3;
  --dashboard-cell-btn-primary: #4C98E3;
  --dashboard-cell-btn-secondary: #FFFFFF;
  --filter-text-color: #393E47;
  --filter-text-contrast: #FFFFFF;
  --filter-text-accent: #4C98E3;
  --filter-accent-color: #4C98E3;
  --filter-check-box-border: #C4C7D4;
  --filter-check-box-bg: #FDFDFD;
  --filter-check-box-checked: #4C98E3;
  --filter-select-selected: rgba(128, 202, 255, 0.20);
  --gs-object-bg: #FDFDFD; /*1-6x*/
  --gs-text-contrast: #FDFDFD; /*4-6x*/
  --gs-text-def: #393E47; /*8-6x*/
  --gs-text-light: #8E9195; /*10-3x*/
  --gs-link-color: #4C98E3; /*9-3x*/
  --gs-acent-color: #4C98E3; /*9-xxx*/
}