.app{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.gs{
  &-header{
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    height: 70px;
    padding: 12px 32px;
    background-color: var(--main-header-bg);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    &__logo{
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: nowrap;
      position: relative;
      cursor: pointer;
      margin-right: 10px;
      &__icon{
        width: 50px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        margin-right: 15px;
      }
      &__text{
        display: inline-block;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--header-title-color);
      }
    }
    &__user{
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      flex-wrap: nowrap;
      margin-left: auto;
      padding-right: 65px;
      &__avatar{
        position: absolute;
        top: 50%;
        right: 0;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        background-color: gray;
        transform: translateY(-50%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &__name{
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 22px;
        color: var(--header-title-color);
        margin: 0 0 2px 0;
        text-align: right;
      }
      &__position{
        text-align: right;
        margin: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        color: var(--header-sub-title-color);
      }
    }
  }
  &-frame{
    width: 100%;
    background-color: var(--main-bg-color);
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding: 32px;
    &__side-bar{
      position: relative;
      margin-right: 24px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-self: stretch;
      height: auto;
      width: 250px;
      background: var(--side-bar-bg-color);
      border: 1px solid var(--main-border-color);
      border-radius: 8px;
      padding: 16px;
      transition: all linear 0.3s;
      &.hidden{
        width: 90px;
        padding: 16px 24px 16px 16px;
        .gs-frame__side-bar__tab{
          padding: 0;
        }
        .gs-frame__side-bar__tab__icon{
          margin: 0 auto;
        }
        .gs-frame__side-bar__tab__text{
          display: none;
        }
      }
      &__control{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &__toggle{
          position: absolute;
          width: 8px;
          height: 16px;
          right: 10px;
          top: calc(50% - 8px);
          cursor: pointer;
          z-index: 1;
          border: none;
          outline: none;
          background: url("/assets/icon/toggle.svg") no-repeat center;
          background-size: contain;
          &:hover{
            opacity: 0.6;
          }
          &.hidden{
            transform: rotate(180deg);
          }
        }
      }
      &__nav{
        width: 100%;
        margin-bottom: auto;
        position: relative;
      }
      &__footer{
        border-top: 1px solid var(--main-border-color);
        width: 100%;
        margin-top: auto;
        padding: 16px 0 0 0;
        position: relative;
      }
      &__tab{
        width: 100%;
        border-radius: 8px;
        height: 50px;
        padding: 0 15px;
        margin-bottom: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: nowrap;
        cursor: pointer;
        &__icon{
          width: 30px;
          height: 30px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 15px;
          background-color: #4C98E3;
        }
        &__text{
          font-weight: 500;
          font-size: 15px;
          line-height: 18px;
          color: var(--side-bar-text-color);
        }
        &:hover{
          background-color: var(--side-bar-tab-color);
        }
        &.active{
          background-color: var(--side-bar-tab-color);
          .gs-frame__side-bar__tab__text{
            color: var(--side-bar-text-hover-color);
          }
          .gs-frame__side-bar__tab__icon{
            filter: invert(54%) sepia(94%) saturate(1512%) hue-rotate(203deg) brightness(98%) contrast(83%);
          }
        }

      }
    }
    &__content{
      flex-grow: 1;
      position: relative;
      height: auto;
      align-self: stretch;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }
  &-theme-switch{
    height: 30px;
    width: 60px;
    position: relative;
    border-radius: 50px;
    overflow: hidden;
    background-color: var(--side-bar-bg-color);
    border: 1px solid var(--main-border-color);
    cursor: pointer;
    z-index: 1;
    outline: none;
    &__icon{
      position: absolute;
      width: 24px;
      height: 24px;
      right: 3px;
      top: 2px;
      background: url("/assets/icon/theme-switch.svg")no-repeat center;
      background-size: contain;
      transition: all linear 0.2s;
    }
    &.switch{
      .gs-theme-switch__icon{
        right: 31px;
      }
    }
  }
}